<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN" monitorInterval="30">


	<!-- Logging Properties -->
	<Properties>
		<Property name="LOG_PATTERN">[%-5p|%d{yyyy-MM-dd HH:mm:ss.SSS}|%X{NDC0}] (%c) {%m}%n
		</Property>
		<Property name="APP_LOG_ROOT">\\Workspace_DCVR\logs
		</Property>
	</Properties>
	<Appenders>
		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
        
		<RollingFile name="serverLog" fileName="${APP_LOG_ROOT}/ComplaintServiceServerLog.log"
			filePattern="${APP_LOG_ROOT}/ComplaintServiceServerLog-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="ERROR" maxLevel="TRACE"
				onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

	</Appenders>

	<Loggers>

		<Logger name="com.redhat.hackathon.complaintservice" additivity="false" level="TRACE">
			<AppenderRef ref="Console" />
			<AppenderRef ref="serverLog" />
			
		</Logger>

		<Root level="INFO">
		<AppenderRef ref="Console" />
		<AppenderRef ref="serverLog" />
		</Root>

	</Loggers>
</Configuration>
